body {
    background: url("https://wallpaper.wiki/wp-content/uploads/2017/04/wallpaper.wiki-Blurry-Backgrounds-For-Desktop-PIC-WPC008961.jpg") center fixed grey;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(237,237,237,0.5);
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 15px;
    margin-top: 5% !important;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    background-color: rgba(237,237,237,0.5);
}

.navbar-brand {
    color:black;
}

.footer {
    padding: .5rem 1rem;
    background-color: rgba(237,237,237,0.5);
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer p {
    margin: 0;
}

h2 {
    margin-top: 10px !important;
}

a {
    color: black !important;
}