body {
    background: url("Images/main.jpg") center fixed grey;
    background-repeat: no-repeat;
    background-size: cover;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(237,237,237,0.5);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    position: fixed;
    left: 10%;
    text-align: center;
    right: 10%;
    bottom: 47.5%;
}

.container {
    width: auto !important;
}

input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    background-color: rgba(237,237,237,0.5);
}

.navbar-brand {
    color:black;
}

.footer {
    padding: .5rem 1rem;
    background-color: rgba(237,237,237,0.5);
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer p {
    margin: 0;
}

h2 {
    margin-top: 10px !important;
}

a {
    color: black !important;
}